html, body, #root {
    height: 100%;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: #eee;
}

nav a.active:not(.navbar-brand), nav a:hover:not(.navbar-brand) {
    text-decoration: underline;
}

/* These .dropdown styles make sure a long username doesn't break the boundaries of the dropdown menu */
.dropdown-menu[data-bs-popper] {
    max-width: 190px;
  }
  
  .dropdown-menu[data-bs-popper] .dropdown-item-text {
    word-wrap: break-word !important;
  }

.landing-hero-image {
    background-image: url(/images/Landing.png);
    background-size: cover;
    min-height: 550px;
}

.landing-post {
    position: relative;
}

/* This styling that uses nth-child(even) to apply the style to every other child of the parent */
/* .landing-post:nth-child(even) {
    background: #f6f6f6;
} */

.landing-post:before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    background: #85a3ae;
    width: 7px;
    height: 100%;
}

.pet-output {
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 980px) {
    .pet-output {
        grid-template-columns: repeat(2, 1fr);
    }

    .pet-output .button-wrap {
        flex-direction: column;
        row-gap: 10px;
    }
}

@media (max-width: 768px) {
    .hero-text {
        margin-top: 25px !important;
    }
}

@media (max-width: 490px) {
    .nav-wrap {
        flex-direction: column !important;
    }

    .navbar-nav.ms-auto {
        margin-left: 0 !important;
    }

    main form {
        width: 400px !important;
    }

    .pet-output {
        grid-template-columns: 1fr;
    }
}